// out: ../css/main.css, sourcemap: false, compress: true
html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #00202B;
  color: #ffffff;
}

.white-theme {
  background: #ffffff;
}

#pablocamara div {
	background-color: white;
}

.white-theme #pablocamara div {
	background-color: #00202b;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                           supported by Chrome and Opera */
}



#social_media {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 40px;
}

#social_media a {
  text-decoration: none;
  margin-right: 10px;
}

#pablocamara {
  text-align: center;
  width: 320px;
  height: 190px;
  margin: auto;
}

#view_intro_text {
  text-align: center;
  color: white;
}

.white-theme #view_intro_text {
	color: #001F2B;
}

#profile_pic {
  width: 100px;
  margin-top: 240px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

.btn {
  background: #00202B;
  color: white;
  border: 1px solid white;
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.btn.active {
  color: #00202B;
  background: white;
}







#skip_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: rgba(228, 255, 0, 0.6);
}

#skip_btn:hover { color: white; }

.white-theme {
	#skip_btn {
		color: rgba(230, 85, 0, 1);
		
		&:hover {
			color: #049fd0;
		}
	}
}

#contact_form,
#login_form {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

#contact_form {
  max-width: 220px;
}

#login_form {
  max-width: 300px;
}

#contact_form.form-box input[type="text"],
#contact_form.form-box input[type="email"],
#contact_form.form-box input[type="password"],
#contact_form.form-box textarea
{
  max-width: 203px;
  margin: auto;
  margin-bottom: 5px;
}


#login_form.form-box input[type="email"],
#login_form.form-box input[type="password"]
{
  max-width: 283px;
  margin: auto;
  margin-bottom: 5px;
}


#contact_form.form-box textarea {
  margin-bottom: 0;
}

#contact_form.form-box textarea {
  max-width: 201px;
}


.appearance-none,
.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box textarea {
  -webkit-appearance:     none;
      -moz-appearance:        none;
      -ms-appearance:         none;
      -o-appearance:          none;
      appearance:             none;
}


.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box textarea {
  width: 100%;
  border: 1px solid #063646;
  color: #ffffff;
  background-color: #032935;
  padding-left: 15px;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="email"] {
  height: 40px;
}

.form-box textarea {
  padding-top: 10px;
}

.form-box .form-button {
  text-align: center;
  color: white;
  background: #00202b;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.form-box .form-button:hover {
  background: white;
  color: #00202b;
}

.form-box .form-button.reversed:hover {
	border-color: #ffffff;
	background: #00202b;
	color: #ffffff;
}

.form-box .form-button.reversed {
  background: #ffffff;
  color: #00202b;
  border-color: #696969;
}

.color-yellow {
  color: yellow !important;
}

.error_msg,.success_msg,.sending_msg {
  color: white;
  padding: 10px;
  text-align: center;
  margin: 6px 0;
  font-size: 14px;
}

.error_msg {
  background-color: #f53939;
}

.success_msg {
  background-color: #005416;
}

.sending_msg {
  background-color: #0b79e6;
}

.d-none {
  display: none !important;
}

.view {
  color: white;
  text-align: center;
  display: none;
}

#about_me {
  max-width: 500px;
  margin: auto;
  background: white;
  color: #00202b !important;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  margin-top: 14px;
}

#about_me h1 {
  padding-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#about_me p {
  font-size: 14px;
  padding: 0 20px;
}

@media(max-width: 510px){
  #about_me {
    max-width: 400px;
  }
}

@media(max-width: 410px){
  #about_me {
    max-width: 300px;
  }
}

.img-webdev {
	background-image: url('../img/webdev.png');
	width: 291px;
	height: 153px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-size: contain;
}

.img-webmaintenance {
	background-image: url('../img/webmaintenance.jpg');
	width: 291px;
	height: 153px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}




.h-12 {
	font-size: 12px;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pt-5 {
	padding-top: 5px !important;
}

.h-14 {
	font-size: 14px;
}

.h-15 {
	font-size: 15px;
}

.h-16 {
	font-size: 16px;
}

.h-18 {
	font-size: 18px;
}

.h-20 {
	font-size: 20px;
}

.mb-8 {
	margin-bottom: 8px;
}

#services {
	text-align: center;
}

.service-item {
    border: 1px solid #053242;
    width: 290px;
    margin: 20px auto;
    padding: 10px 10px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    vertical-align: top;
}

.btn-white-rounded {
	background-color: #ffffff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 180px;
    height: 46px;
    line-height: 46px;
    color: #001F2B;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
	cursor: pointer;
	font-weight: bold;
}

.btn-dark-rounded {
	background-color: #001F2B;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 180px;
    height: 46px;
    line-height: 46px;
    color: #ffffff;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
	cursor: pointer;
}

.bg-light-blue {
	background: #6bbfff;
	border-color: #6bbfff !important;
}

.no-border-radius {
	border-radius: 0;
}

#account_bar {
	background-color: #032935;
    padding: 10px;
    margin-top: 12px;
	
	#account_bar_user_name {
		font-weight: bold;
	}
}

.panel-item {
	background-color: #032935;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    max-width: 290px;
}

.panel-icon {
	background-size: contain;
	margin: 10px auto;
}

.panel-icon.domain-icon{
	width: 70px;
	height: 57px;
	background: transparent url('../img/domain-icon.png') no-repeat;
}

.panel-icon.design-icon {
	width: 70px;
    height: 66px;
    background: transparent url('../img/ico-web-design.png') no-repeat;
    background-size: contain;
}

.panel-list {
	text-align: left;
	background: #a5a5a5;
}


.panel-list .panel-list-item {
	color: #032935;
	padding: 10px;
	margin-bottom: 2px;
	background: white;
}

.bg-hex-color {
	color: #00202b;
}


.mt-10 {
	margin-top: 10px;
}
